input, textarea {
       padding: 5px;
       border: solid 1px #E5E5E5;
       outline: 0;
       color: #666666;
       font: normal 13px / 100% Verdana, Tahoma, sans-serif; /*width: 150px;*/
       background: #FFFFFF url( 'http://utils.commuteeasy.com/prettyForms/images/bg_form.jpg' ) left top repeat-x;
       background: -webkit-gradient( linear, left top, left 25, from( #FFFFFF ), color-stop( 4%, #EEEEEE ), to( #FFFFFF ) );
       background: -moz-linear-gradient( top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px );
       /*box-shadow: rgba( 0, 0, 0, 0.1 ) 0px 0px 8px;*/
       /*-moz-box-shadow: rgba( 0, 0, 0, 0.1 ) 0px 0px 8px;*/
       /*-webkit-box-shadow: rgba( 0, 0, 0, 0.1 ) 0px 0px 8px;*/
   }

   .submitButton {
       background: #ddffb5;
       -moz-border-radius: 5px;
       -webkit-border-radius: 5px;

   }

   textarea {
       width: 400px;
       max-width: 400px;
       height: 150px;
       line-height: 150%;
   }

   input:focus, textarea:focus {
       border-color: #C9C9C9;
       -webkit-box-shadow: rgba( 0, 0, 0, 0.15 ) 0px 0px 8px;
   }

   input:hover, textarea:hover {
   border-color: #C9C9C9;
   -webkit-box-shadow: rgba( 0, 0, 0, 0.15 ) 0px 0px 8px;
   }
